.p h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #0070cd;
}

.p .text-end {
    display: flex;
    justify-content: center; /* Centers the button horizontally */
    margin-top: 20px;
}
.p thead th {
    background-color: rgb(69 167 190);
    text-align:center;
}

.p .table{
    border: 2px solid #eee !important;
}

.p tbody td{
    text-align: center;
}

/*   Delete  */

.d{
    direction:rtl;
}

/*  create */

.create-p h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #0070cd;
}

..gender-options {
    margin-top: 0.5rem;
}